html {
  scroll-behavior: smooth;
}
/*---gental fade in to the page--*/
body{
   opacity: 1;
   transition: 3s opacity;
}
body.fade-out {
   opacity: 0;
   transition: none;
}
 /*---------Home nav--------------*/
 #home {
    overflow: hidden;
   background-color: #a5bba9;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    display: inline;
    border: 1px solid black;
   -webkit-animation: moveNav 5s;
   animation: moveNav 5s;
 }
 @keyframes moveNav {
   from {left: -100vw;}
   to {left: 0vw;}
}
 .navbar a {
    text-align: center;
    float: left;
    display:block;
    color: #f6fffa;
    padding: 2.3vw 4.5vw;
    text-decoration: none;
    font-size: 1.8vw;
    
 }
 .navbar img {
    float: left;
 }

 .navbar a:hover {
    background-color: rgb(202, 230, 203) ;
    color: #000;
 }



/*------styling for auto slideshow---------*/
#slideshow {
   margin: auto;
   position: relative;
   width: 1000;
}
#slideshow div { 
   position: absolute; 
  
 }
 .slides img{
   display: block;
 }

/* --------styling for units-------------*/
.column {
   float: left;
   width: 24%;
   padding: 0 10px;
   margin: auto;
}
.column2 {
   float: right;
   width: 50%;
   padding: 0 10px;
   margin: auto;
}
/* Remove extra left and right margins, due to padding in columns */
.row {margin:auto;
padding-bottom: 25px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 20px;
  background-color: #f1f1f1;

}
.card:hover{
   animation: ZoomInOut 8s forwards ease-out;
   cursor: pointer;
}

@keyframes ZoomInOut{
   0%{
      transform: scale(1,1);
   }
   50% {transform: scale(1.05,1.05);

   }
   100% {transform: scale(1,1);
      
   }
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }

}
.card-img-top {
   width: 100%;
   border-radius:  4px 4px;
   box-shadow: 0 0 4px #000;


}
.Rental_Cards {
   background-color: #a5bba9;
}

.card-title {
   font-size: 25px;
   color: #638769;
}

.card-text {
   font-size: 20px;
}
.Rental_Cards h1 {
   font-family: 'Times New Roman', Times, serif;
   font-size: 45px;
   text-align: center;
   padding-top: 25px;
}

.info {
   font-size: 20px;
   text-align: center;
   background-color: #638769;
   color: #f6fffa;
   border-radius: 8px;
}
.info:hover{
   color: #000;
   background-color: #a5bba9;
   transition: ease .5s;
   cursor: pointer;
}

button {
   margin: 4px 35%;
}

/*--------------Contact styling-----------------------*/
.row {
   background-color:#a5bba9 ;
}
.column_1 {
   float: left;
   width: 50%;
   padding: 0 2px;
   margin: auto;
}
.column_2 {
   float: right;
   width: 50%;
   padding: 0 2px;
   margin: auto;
}
.row h1 {
   font-family: 'Times New Roman', Times, serif;
   font-size: 45px;
   text-align: center;
   padding-top: 25px;
}

.column_1 img {
 margin-left: 50%;
}
/*--------- popup form------*/
.QuestionUs {
   font-size: 30px;
   background-color: white;
   color: #638769;
   border-radius: 8px;
   margin: 10% 10%;
   font-weight: bold;
   padding:16px 20px;
   font-family: 'Times New Roman', Times, serif;
   cursor: pointer;

}

.QuestionUs:hover {
   background-color: #638769;
   color:#f6fffa;
   cursor: pointer;

}

/*--make form hidden by defult------*/
.form-popup {
   display: none;
   position: fixed;
   bottom: 0;
   right: 15px;
   border: 3px solid black;
   z-index: 9;
   border-radius: 8px;
}
/*----form styling----*/
.form-container {
   max-width: 600px;
   padding: 10px;
   background-color: white;
   box-sizing: border-box;
}

.form-container input[type=text] {
   width: 100%;
   padding: 15px;
   margin: 5px 0 22px 0;
   border: 2px solid #638769;
   background: #f1f1f1;
}
 .form-container input[type=email] {
   width: 100%;
   padding: 15px;
   margin: 5px 0 22px 0;
   border: none;
   background: #f1f1f1;
   border: 2px solid #638769;
}
.form-container h2 {
   text-align: center;
   font-size: 20px;
}
/*-----When the input gets focus, react-------*/
.form-container input[type=text]:focus, .form-container input[type=email]:focus
{
   background-color: #ddd;
   outline: none;
}

/* set a style for the send button*/
.form-container .row {
   width: 550px;
   display: inline;
}
.form-container .send {
   background-color: #638769;
   color: white;
   padding: 16px 20px;
   border: 2px solid black;
   cursor: pointer;
   font-size: 15px;
   border-radius: 8px;
   width: 80%;
   margin-left: 50px;
   font-weight: bold;
}
.sendbtn {
   float: left;
   width: 50%;
   padding: 0 0px;
   margin: auto;
}
.cancelbtn {
   float: right;
   width: 50%;
   padding: 0 0px;
   margin: auto;
   
}
/* hover effects for send button */
.form-container .send:hover {
   background-color: rgba(202, 230, 203);
   color:black;
}

/* styling for the canel button*/
.form-container .Cancel {
   background-color: rgb(210, 231, 224);
   border: 2px solid black;
   padding: 16px 20px;
   cursor: pointer;
   font-size: 15px;
   border-radius: 8px;
   width: 80%;
   margin-left: 50px;
   font-weight: bold;
}

/*  hover effects for buttons */
.form-container .Cancel:hover {
   background-color: #717171;
   color: white;

}